<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="footer-info">
                        <p>
                            <strong>회사:</strong> 포스트업 | <strong>제호:</strong> 포스트업 | <strong>등록번호:</strong> {{ .Site.Params.mediaRegistration }} | <strong>등록일:</strong> {{ .Site.Params.registrationDate }}<br>
                            <strong>주소:</strong> {{ .Site.Params.address }} | <strong>대표전화:</strong> {{ .Site.Params.phone }}<br>
                            <strong>발행·편집인:</strong> {{ .Site.Params.publisher }} | <strong>청소년보호책임자:</strong> {{ .Site.Params.youthProtectionOfficer }}<br>
                            Copyright © {{ now.Format "2006" }} 포스트업. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
